<div class="row-fluid">
    <div class="hero-unit">
    	<h1> Login - First Step </h1>
		
    	<%= form_tag '/session/second',class:'form-horizontal' do %>
    	<div class="control-group">
    	  <%= label_tag(:username, "Username:",class:'control-label') %>
    	  <div class="controls">
		  <%= text_field_tag(:username) %>
		  </div>
		</div>  	

		<div class="control-group">
		  <%= label_tag(:password, "Password:",class:'control-label') %>
    	  <div class="controls">
		  <%= text_field_tag(:password) %>
		  </div>
		  <div class="controls">
		  	<br>
		  <%= submit_tag("Next Step",class:'btn') %>
		  </div>
		</div>
    	<% end %>     
    </div>
</div>




